main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 50vh;
  font-family: 'Poppins', sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #CBD5E1;
  border-radius: 0.275rem;
  width: 36rem;
}

.card-header {
  background-color: #BAE6FD;
  padding: 0.5rem 1rem;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card-title {
  color: #111827;
}

.card-body {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.45rem;
  margin-bottom: 1rem;
}

.form-label {
  font-weight: 300;
  color: #111827;
  font-size: 0.85rem;
}

.form-control {
  border-radius: 0.25rem;
  width: 100%;
  height: 2.25rem;
  padding: 0.5rem;
  outline: none;
  border: 1px solid #CBD5E1;
}
